section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title-mobile.font-s-50
        span.font-w-regular Информация 
        br.no-br
        span.font-w-bold.color-gold для партнеров
      img.about-section__icon(src="images/about-section-icon.svg" loading="lazy" width="811" height="796" alt="icon")
      .about-section__box
        .about-section__box-left
          h2.about-section__title.font-s-50
            span.font-w-regular Информация 
            br.no-br
            span.font-w-bold.color-gold для партнеров
          .about-section__sub-title.color-white.font-s-18
            | Задайте вопрос 
            br.no-br
            | основателям франшизы
          form.about-section__form(data-feedback-form)
            textarea.input.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
            input(type="text" name="honeyfield" class="honeypot" style="display:none")
            input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
            input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
            button.btn(type="submit") Задать вопрос
        .about-section__text
          .font-s-20
            | Магазин парфюмерии 
            span.font-w-r-medium «ДУХИ ЗДЕСЬ» 
            | начал свою работу 
            br.no-br
            | в 2020 году. В нашем магазине клиенты могут приобрести 
            br.no-br
            | духи и масла высшего качества из Франции, Швейцарии 
            br.no-br
            | и Турции по адекватным ценам. Также есть возможность 
            br.no-br
            | купить много ароматов в небольших объемах, что отличает 
            br.no-br
            | нас от сетевых магазинов, где духи продаются только 
            br.no-br
            | в больших флаконах.
          .font-s-20
            | Бизнес в этой сфере отличается высокой маржинальностью, 
            br.no-br
            | при этом новички могут допустить множество ошибок 
            br.no-br
            | на старте, начиная от выбора помещения до покупки 
            br.no-br
            | некачественного товара и непонимания способов 
            br.no-br
            | привлечения большого количества клиентов.
          .font-s-20
            | С помощью франшизы 
            span.font-w-r-medium «ДУХИ ЗДЕСЬ» 
            | вы сможете 
            br.no-br
            | избежать этих ошибок и быстро перейти к 
            br.no-br
            | масштабированию и росту. На всех этапах наша команда 
            br.no-br
            | обеспечит вам комплексную помощь и поддержку по 
            br.no-br
            | любым вопросам.
