section.finances-section
  .wrapper
    .finances-section__container
      img.finances-section__icon(src="images/finances-section-icon.svg" loading="lazy" width="605" height="900" alt="icon")
      h2.finances-section__title.font-s-50
        span.font-w-regular Коротко 
        br.no-br
        span.font-w-bold.color-gold о главных цифрах
      .swiper-bullet
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
            .font-w-medium.font-s-40.color-gold 42 дня
            .font-s-20 понадобится <br> на запуск
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
            .font-w-medium.font-s-40.color-gold 49,4%
            .font-s-20 рентабельность <br> по чистой прибыли
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
            .font-w-medium.font-s-40.color-gold 540 000 ₽
            .font-s-20 средний размер <br> ежемесячной выручки
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
            .font-w-medium.font-s-40.color-gold 7 месяцев
            .font-s-20 средний срок <br> окупаемости
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
            .font-w-medium.font-s-40.color-gold 1 150 000 ₽
            .font-s-20 средний размер <br> вложений
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
            .font-w-medium.font-s-40.color-gold 265 000 ₽
            .font-s-20 средний размер <br> ежемесячной прибыли
        .bullet-pagination
        .finances-section__bottom-title.font-s-28
          span.font-w-bold.color-gold
            | Хотите получить 
            br.no-br
            | детальные расчеты 
            br.no-br
          span.font-w-regular для вашего города и под ваш бюджет?
        .finances-section__bottom-text.font-s-18 Скачайте финансовую модель франшизы «ДУХИ ЗДЕСЬ»
        form.finances-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Скачать
