footer.footer
  .footer__container
    .footer__brand.font-s-18 Франшиза магазина <br> парфюмерии
    img.footer__logo(src="images/logo.png" loading="lazy" width="240" height="240" alt="logo")
    a.footer__privacy.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
    .footer__connection
      a(href="tel:+79990000000")
        img.footer__connection-icon(src="images/connection-icon.svg" loading="lazy" width="16" height="16" alt="icon")
      include ../components/phone-number.pug
