section.preview-section
  .wrapper
    .preview-section__container
      h2.preview-section__title.font-s-50
        span.font-w-regular Как будет выглядеть 
        br
        span.font-w-bold.color-gold ваш магазин после запуска
      .swiper-bullet
        .preview-section__cards.swiper-wrapper
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-1.jpg" loading="lazy" width="760" height="680" alt="image")
            img.preview-section__img(src="images/preview-section-img-2.jpg" loading="lazy" width="760" height="480" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-3.jpg" loading="lazy" width="760" height="1200" alt="image")
          .preview-section__card.swiper-slide
            img.preview-section__img(src="images/preview-section-img-4.jpg" loading="lazy" width="760" height="680" alt="image")
            img.preview-section__img(src="images/preview-section-img-5.jpg" loading="lazy" width="760" height="480" alt="image")
        .bullet-pagination
