section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-s-50
        span.font-w-bold.color-gold Схема открытия магазина
        br
        span.font-w-regular парфюмерии за 42 дня
      .start-section__cards-wrapper
        .swiper-bullet
          .start-section__cards.swiper-wrapper
            .start-section__card.swiper-slide.start-section__card--col-1
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
              .font-s-20
                | Заключение
                br
                | договора
                br
                | франшизы
            .start-section__card.swiper-slide.start-section__card--col-2
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
              .font-s-20
                | Поиск
                br
                | помещения
            .start-section__card.swiper-slide.start-section__card--col-3
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
              .font-s-20
                | Заключение
                br
                | договора аренды
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
              .font-s-20
                | Ремонт
                br
                | и оформление
                br
                | помещения
            .start-section__card.swiper-slide.start-section__card--col-5
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
              .font-s-20
                | Поиск
                br
                | персонала
            .start-section__card.swiper-slide.start-section__card--col-6
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
              .font-s-20
                | Формирование первичных
                br
                | запасов товара и
                br
                | расходных материалов
            .start-section__card.swiper-slide.start-section__card--col-7
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
              .font-s-20
                | Обучение
                br
                | персонала
            .start-section__card.swiper-slide
              img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="138" height="138" alt="icon")
              .font-s-20
                | Официальное
                br
                | открытие
          .bullet-pagination
      .start-section__bottom
        .font-s-28
          span.font-w-bold.color-gold Работаем по договору
          span.font-w-regular
            | , 
            br.no-br
            | в котором прописаны все условия 
            br.no-br
            | сотрудничества
        button.btn.start-section__btn(data-remodal-target="modal-form-agreement") Скачать пример договора
