extends ../layouts/base

block body
    .layout.thanks-page
      .wrapper
        include ../components/header.pug
      main.main
        include ../components/thanks-section.pug
      .wrapper
        include ../components/footer.pug
