.footer
  &__container
    display: flex
    align-items: center
    flex-direction: column
    gap: 10px
    padding 10px 15px
    border-radius: 8px 8px 0 0
    backdrop-filter: blur(10px);
    background: rgba(134, 109, 91, 0.4)
    +above($breakpoints.sm)
      flex-direction: row
      justify-content space-between
      border-radius: 12px 12px 0 0
      padding 12px 20px
    +above($breakpoints.md)
      border-radius: 15px 15px 0 0
      padding 14px 30px
    +above($breakpoints.xxl)
      border-radius: 20px 20px 0 0
      padding 17px 40px 18px

  &__brand
    display: none
    +above($breakpoints.sm)
      display: block
      flex-basis: 40%

  &__logo
    width 50px
    height: auto
    +above($breakpoints.sm)
      width 60px
    +above($breakpoints.md)
      width 75px
    +above($breakpoints.xxl)
      width 80px

  &__privacy
    cursor pointer
    text-decoration: underline
    +above($breakpoints.sm)
      display: none

  &__connection
    display: flex
    align-items: center
    justify-content flex-end
    gap: 6px
    color: $color-white
    +above($breakpoints.sm)
      flex-basis: 40%
      gap: 8px;
    +above($breakpoints.md)
      gap: 10px;
    +above($breakpoints.xxl)
      gap: 12px

  &__connection-icon
    width 10px
    height: 10px
    +above($breakpoints.sm)
      width 12px
      height: 12px
    +above($breakpoints.md)
      width 14px
      height: 14px
    +above($breakpoints.xxl)
      width 16px
      height: 16px
