.thanks-section
  display: flex
  flex-direction: column
  justify-content center
  align-items: center
  height: 100%

  &__container
    padding 0 15px
    max-width: 850px
    margin: 0 auto
    text-align: center

  &__inner-text
    padding: 20px 0 40px 0

  &__container a
    max-width 300px
    margin: 0 auto
    +above($breakpoints.sm)
      max-width 280px
    +above($breakpoints.md)
      max-width 330px
    +above($breakpoints.xxl)
      max-width 370px

.thanks-page
  background-image: url('../images/city-section-bg.jpg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-color #4A3D34
